<h1>คูณจำนวน</h1>
<div class="input-group">
  <div class="input-group-prepend">
    <span>ค่าที่1</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="request.key1" placeholder="" aria-label="" aria-describedby="basic-addon1">
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span>ค่าที่2</span>
  </div>
  <input type="number" class="form-control" [(ngModel)]="request.key2" placeholder="" aria-label="" aria-describedby="basic-addon1">
</div>
<button class="btn btn-success" type="button" (click)="getData1()">คำนวณ</button>
<span>ผลลัพธ์ {{result}}</span>



<h1>เพิ่ม</h1>
<div class="input-group">
  <div class="input-group-prepend">
    <span>ID</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="request2.id" placeholder="" aria-label="" aria-describedby="basic-addon1">
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span>ชื่อ</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="request2.name" placeholder="" aria-label="" aria-describedby="basic-addon1">
</div>
<button class="btn btn-success" type="button" (click)="postCreateProfile()">เพิ่ม</button>
<span>ผลลัพธ์ = {{profile}}</span>

<h1>ค้นหา</h1>
<div class="input-group">
  <div class="input-group-prepend">
    <span>ID</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="request3.id" placeholder="">
</div>

<button class="btn btn-success" type="button" (click)="getUserDetail()">ค้นหา</button>

<br/>
<span >ชื่อ : {{detail.name}}</span> <br>
<span>ID : {{detail.id}}</span>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Type</th>
      <th>View</th>
      <th>Edit</th>
     
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of noteDetail">
      <td>{{i.name}}</td>
      <td><button class="btn btn-success" type="button" >View</button></td>
      <td><button class="btn btn-success" type="button" (click)="editName(i)">Edit</button></td>
 
    </tr>
  </tbody>
</table>


<input type="text" class="form-control" [(ngModel)]="edit.name" placeholder="">
<button class="btn btn-success" type="button" (click)=" postNoteDetail()">Edit</button>



<router-outlet></router-outlet>
